version: '2'
services:
  php:
    image: ${PHP_IMG}
    volumes:
      - ${PROJECTS_PATH}:${WORKING_DIR}
      - ./:/Development
    working_dir: ${WORKING_DIR}

  composer:
    image: ${COMPOSER_IMG}
    volumes_from:
      - php
    working_dir: ${WORKING_DIR}
    depends_on:
      - php
#    command: 'alias lcomposer="/Development/local-composer.sh"'
    environment:
      - WORKING_DIR=${WORKING_DIR}